<!DOCTYPE html>
<html lang="<%= __('lang') %>">

<head>
    <meta charset="UTF-8">
    <title>Collectio - <%= __('about') %></title>
    <%- include('base/styles') %>
</head>

<body>
<!-- Begin Header -->
<%- include('base/header'); %>
<!-- End Header -->

<!-- Begin Content -->
<div class="section">
    <div class="container">
        <div class="intro">
            <h2 class="text-center"><%= __('team') %></h2>
            <p class="text-center"><%= __('teamDescription') %></p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4">
                <!--<img class="rounded-circle" src="/assets/img/1.jpg" alt="">
                <h3 class="name">Ben Johnson</h3>
                <p class="title">Musician</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam
                    dictum feugiat tellus, a semper massa. </p>
                <div class="social">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>-->
            </div>

            <div class="col-md-6 col-lg-4">
                <img class="rounded-circle" src="/images/pablo.png" alt="<%= __('teamImagePablo') %>">
                <h3 class="name">Pablo López Veleiro</h3>
                <p class="title"><%= __('softwareEngineer') %></p>
                <p class="description"><%= __('teamDescriptionPablo') %></p>
                <div class="social">
                    <a href="https://twitter.com/pablolop002"><i class="fa fa-twitter"></i></a>
                    <a href="https://instagram.com/pablolop002"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <!--<img class="rounded-circle" src="/assets/img/3.jpg" alt="">
                <h3 class="name">Carl Kent</h3>
                <p class="title">Stylist</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam
                    dictum feugiat tellus, a semper massa. </p>
                <div class="social">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

<!-- Begin Footer -->
<%- include('base/footer'); %>
<!-- End Footer -->

<!-- Begin Scripts -->
<%- include('base/scripts') %>
<!-- End Scripts -->
</body>

</html>