<!DOCTYPE html>
<html lang="<%= __('lang') %>">

<head>
    <meta charset="UTF-8">
    <title>Collectio - <%= __('error') %> <%= errorCode %></title>
    <%- include('base/styles') %>
</head>

<body>
<!-- Begin Header -->
<%- include('base/header'); %>
<!-- End Header -->

<!-- Begin Content -->
<div class="section">
    <div class="container">
        <h1 class="text-center"> <%= __('error') %> <%= errorCode %> </h1>
        <% if(errorCode === 404) { %>
            <p>Parece que lo que estas buscando no existe.</p>
        <% } else if (errorCode === 403) { %>
            <p>Parece que lo que estas buscando no existe.</p>
        <% } else if (errorCode === 500) { %>
            <p>Hemos tenido un problema y nuestros duendes están en ello. Si los ves, por favor, indica la siguiente
                ruta
                del archivo que contiene el error: </p>
            <div class="error">
                <p> Archivo de error: <%= file %></p>
            </div>
        <% } %>
    </div>
</div>
<!-- End Content -->

<!-- Begin Footer -->
<%- include('base/footer'); %>
<!-- End Footer -->

<!-- Begin Scripts -->
<%- include('base/scripts') %>
<!-- End Scripts -->
</body>

</html>