<!DOCTYPE html>
<html lang="<%= __('lang') %>">

<head>
    <meta charset="UTF-8">
    <title>Collectio - <%= __('privacyPolicy') %></title>
    <%- include('base/styles') %>
</head>

<body>
<!-- Begin Header -->
<%- include('base/header'); %>
<!-- End Header -->

<!-- Begin Content -->
<div class="container p-2">
    <div class="text-center">
        <p class="h2"><%= __('privacyPolicy') %></p>
    </div>
    <div class="text-body">
        <h3><strong>I. POLÍTICA DE PRIVACIDAD</strong></h3>
        <p>En cumplimiento del REGLAMENTO (UE) 2016/679 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 27 de Abril de 2016,
            relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y
            a la libre circulación de estos datos, y de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de
            Datos Personales y garantía de los derechos digitales, se le informa que los datos personales
            proporcionados por usted a través del sitio web {{ web }} (en adelante el sitio web), serán tratados en
            los siguientes términos:</p>
        <h3><strong>Responsable del tratamiento</strong></h3>
        <p>Los datos personales recabados a través de este sitio web serán tratados por {{Empresa}}, con domicilio
            para el ejercicio de derechos en {{ dirección }}. Email: {{ correo }}</p>
        <h3><strong>Finalidades del tratamiento</strong></h3>
        <ul>
            <li style="list-style-type: none;">
                <ul>
                    <li>
                        <p>No se recabará información personal o confidencial de ningún tipo de terceros. En caso de
                            personas físicas se tratarán de acuerdo a la finalidad descrita en el apartado 2.
                            OBJETO, del presente texto. La APLICACIÓN, tiene como finalidad publicar y compartir
                            documentos a través de una Intranet Privada, establecida entre el usuario de la
                            aplicación, en adelante el CLIENTE y su ASESORIA FISCAL-LABORAL-CONTABLE, en adelante la
                            EMPRESA. Siendo utilizada, entre otras funcionalidades, para grabar nuevos documentos,
                            Facturas de Venta o Compra y Tickets de Gastos a esta gestión documental. No se
                            almacenará ninguna información relativa a la hora y el lugar desde donde se haya subido
                            o consultado información o de la geolocalización del dispositivo utilizado.</p>
                    </li>
                </ul>
            </li>
        </ul>
        <h3><strong>Base legal del tratamiento</strong></h3>
        <p>Mientras se mantenga la relación contractual con el CLIENTE, la EMPRESA podrá realizar este tratamiento
            en base a la satisfacción de intereses legítimos perseguidos por el responsable del tratamiento, en
            defensa de la confidencialidad de información del CLIENTE.</p>
        <h3><strong>Destinatarios</strong></h3>
        <p>Los datos personales del CLIENTE que pudieran almacenarse o generarse por el uso de la APLICACIÓN no
            serán comunicados a terceros.</p>
        <h3><strong>Periodo de conservación de datos</strong></h3>
        <p>Los datos se conservarán mientras sea necesario para mantener la relación contractual y puedan derivarse
            responsabilidades de su tratamiento.</p>
        <h3><strong>Derechos en relación al tratamiento de sus datos personales</strong></h3>
        <p>En cualquier momento, el CLIENTE puede ejercer los derechos de acceso, rectificación, supresión,
            oposición, limitar el tratamiento de sus datos, o ejercer el derecho a la portabilidad de los mismos.
            Todo ello, mediante escrito, acompañado de copia de documento oficial que le identifique, dirigiéndose a
            la dirección de la EMPRESA. En caso de disconformidad con el tratamiento, también tiene derecho a
            presentar una reclamación ante la Agencia Española de Protección de Datos (aepd.es).</p>
        <h3><strong>Uso de cookies</strong></h3>
        <p>La APLICACIÓN usará cookies como herramienta para gestionar la seguridad y el acceso a la aplicación y
            nunca almacenar información de geoposición o del dispositivo que use para conectar con la
            APLICACIÓN.</p>
        <h3><strong>II. OBJETO, del presente texto legal</strong></h3>
        <h3><strong>OBJETO</strong></h3>
        <p>La APLICACIÓN es una GESTIÓN DOCUMENTAL que tiene el objetivo, asistir a la relación entre la EMPRESA con
            su CLIENTES. En concreto, tiene las siguientes funcionalidades:</p>
        <ul>
            <li>Acceso a la documentación empresarial de interés para el CLIENTE.</li>
            <li>Acceso a informes contables, fiscales y laborales que la EMPRESA publique para cada cliente.</li>
            <li>Subida de documentos desde el dispositivo a la GESTIÓN DOCUMENTAL</li>
            <li>Acceso a una Intranet Personalizada y limitada a los datos del CLIENTE</li>
        </ul>
        <p>Así, los CLIENTES pueden beneficiarse de un contacto más directo y efectivo con la EMPRESA. La APLICACIÓN
            se pone a disposición de los CLIENTES para su uso profesional, estando prohibido cualquier uso distinto
            de la APLICACIÓN.</p>
        <h3><strong>III. DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</strong></h3>
        <p>Los derechos de propiedad intelectual e industrial sobre la APLICACIÓN son titularidad de {{ empresa }},
            correspondiéndole el ejercicio exclusivo de los derechos de explotación de los mismos en cualquier forma
            y, en especial, los derechos de reproducción, distribución, comunicación pública y transformación.</p>
        <p>Los terceros titulares de derechos de propiedad intelectual e industrial sobre fotografías, logotipos, y
            cualesquiera otros símbolos o contenidos incluidos en la APLICACIÓN han concedido las correspondientes
            autorizaciones para su reproducción, distribución y puesta a disposición del público.</p>
        <p>El CLIENTE reconoce que la reproducción, modificación, distribución, comercialización, descompilación,
            desensamblado, utilización de técnicas de ingeniería inversa o de cualquier otro medio para obtener el
            código fuente, transformación o publicación de cualquier resultado de pruebas de referencias no
            autorizadas de cualquiera de los elementos y utilidades integradas dentro del desarrollo constituye una
            infracción de los derechos de propiedad intelectual de {{ empresa }}, obligándose, en consecuencia, a no
            realizar ninguna de las acciones mencionadas.</p>
        <h3><strong>IV. ALOJAMIENTO, SOPORTE Y MANTENIMIENTO DE LA APLICACIÓN</strong></h3>
        <p>{{ empresa }} realiza, en régimen de arrendamiento de servicios de alojamiento, soporte y mantenimiento
            de la APLICACIÓN, asumiendo la figura de encargado del tratamiento, de acuerdo a lo establecido en el
            art. 28 del Reglamento General de Protección de Datos, siendo el único responsable del tratamiento de
            los datos del CLIENTE y de la EMPRESA.</p>
        <p>Ambas empresas han celebrado un contrato que regula el tratamiento de los datos personales que pudiera
            realizar {{ empresa }} para la prestación de los servicios descritos, sujetándose, entre otras, a las
            siguientes obligaciones:</p>
        <ul>
            <li>Tratará los datos personales únicamente siguiendo instrucciones documentadas de la EMPRESA.</li>
            <li>Garantiza que las personas autorizadas para tratar datos personales se han comprometido a respetar
                la confidencialidad o están sujetas a una obligación de confidencialidad de naturaleza estatutaria.
            </li>
            <li>Teniendo en cuenta el estado de la técnica, los costes de aplicación, y la naturaleza, el alcance,
                el contexto y los fines del tratamiento, así como riesgos de probabilidad y gravedad variables para
                los derechos y libertades de las personas físicas, aplicará las medidas técnicas y organizativas
                apropiadas para garantizar un nivel de seguridad adecuado al riesgo.
            </li>
            <li>Asistirá a la EMPRESA, teniendo cuenta la naturaleza del tratamiento, para que pueda cumplir con su
                obligación de responder a las solicitudes que tengan por objeto el ejercicio de los derechos de los
                interesados.
            </li>
        </ul>
        <h3><strong>V. EXCLUSIÓN DE RESPONSABILIDAD</strong></h3>
        <p>La responsabilidad de uso de la APLICACIÓN corresponde solo al CLIENTE y a la EMPRESA. Salvo lo
            establecido en el presente texto legal, {{ empresa }} no es responsable de ninguna pérdida o daño que se
            produzca en relación con el uso de la APLICACIÓN, tales como los producidos como consecuencia de fallos,
            averías o bloqueos en el funcionamiento de la APLICACIÓN (por ejemplo, y sin carácter limitativo: error
            en las líneas de comunicaciones, defectos en el hardware o software de la APLICACIÓN o fallos en la red
            de Internet). Igualmente, {{ empresa }} tampoco será responsable de los daños producidos como
            consecuencia de un uso indebido o inadecuado de la APLICACIÓN por parte del CLIENTE.</p>
        <h3><strong>VI. CONDICIONES DE USO DE LA APLICACIÓN</strong></h3>
        <p>Para el acceso y uso de la APLICACIÓN, el CLIENTE tiene a su disposición los recursos informáticos que la
            EMPRESA le ha facilitado para la poder consultar la información compartida.</p>
        <p>No obstante, al ser una aplicación cloud, se puede acceder desde cualquier&nbsp; dispositivo. Si el
            CLIENTE decidiera, por su propia iniciativa, utilizar la APLICACIÓN desde su dispositivo personal, se
            compromete a cumplir las siguientes condiciones de uso:</p>
        <ul>
            <li>Usará la APLICACIÓN únicamente con fines profesionales. La utilización de la APLICACIÓN para fines
                ajenos a los laborales se considerará una infracción del deber de buena fe contractual.
            </li>
            <li>Se compromete a mantener medidas de seguridad en su dispositivo que eviten el acceso a la
                información por parte de terceros (clave de acceso, patrón, reconocimiento dactilar o facial...).
            </li>
            <li>La EMPRESA podrá dar por finalizado el uso de la APLICACIÓN en el dispositivo personal del CLIENTE
                cuando lo prevea el preaviso que tuvieran contractualmente entre ambos.
            </li>
        </ul>
        <h3><strong>VII. LEGISLACIÓN Y FUERO</strong></h3>
        <p>El CLIENTE acepta que la legislación aplicable y los Juzgados y Tribunales competentes para conocer de
            las divergencias derivadas de la interpretación o aplicación de este clausulado son los españoles, y se
            somete, con renuncia expresa a cualquier otro fuero, a los juzgados y tribunales más cercanos a la
            ciudad de {{ ciudad }}.</p></div>
</div>
<!-- End Content -->

<!-- Begin Footer -->
<%- include('base/footer'); %>
<!-- End Footer -->

<!-- Begin Scripts -->
<%- include('base/scripts') %>
<!-- End Scripts -->
</body>

</html>
