<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/"><%= __('index') %></a></li>
            <li class="list-inline-item"><a href="/about"><%= __('about') %></a></li>
            <!-- <li class="list-inline-item"><a href="/cookies"><%= __('cookies') %></a></li> -->
            <li class="list-inline-item"><a href="/legal-notice"><%= __('legalNotice') %></a></li>
            <li class="list-inline-item"><a href="/privacy-policy"><%= __('privacyPolicy') %></a></li>
            <li class="list-inline-item"><a href="/terms"><%= __('terms') %></a></li>
        </ul>
        <p class="copyright">Collectio © 2020</p>
    </footer>
</div>