<nav class="navbar navbar-dark navbar-expand-lg primary-bg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/favicon.png"> Collectio
        </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item <% if (current === 'index') { %>active<% } %>">
                    <a class="nav-link" href="/"><%= __('index') %></a>
                </li>
                <% if (locals.user) { %>
                    <li class="nav-item <% if (current === 'collections') { %> active <% } %>">
                        <a class="nav-link active" href="/collections"><%= __('collections') %></a>
                    </li>
                    <li class="nav-item <% if (current === 'friends') { %> active <% } %>">
                        <a class="nav-link" href="/friends"><%= __('friends') %></a>
                    </li>
                <% } %>
                <li class="nav-item dropdown  <% if (['about', 'terms', 'privacy', 'legal', 'cookies'].includes(current)) { %> active <% } %>">
                    <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                        <%= __('more') %>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item <% if (current === 'about') { %>active<% } %>" href="/about">
                            <%= __('about') %>
                        </a>
                        <a class="dropdown-item <% if (current === 'legal') { %>active<% } %>" href="/legal-notice">
                            <%= __('legalNotice') %>
                        </a>
                        <!-- <a class="dropdown-item <% if (current === 'cookies') { %>active<% } %>" href="/cookies">
                            <%= __('cookies') %>
                        </a> -->
                        <a class="dropdown-item <% if (current === 'privacy') { %>active<% } %>" href="/privacy-policy">
                            <%= __('privacyPolicy') %>
                        </a>
                        <a class="dropdown-item <% if (current === 'terms') { %>active<% } %>" href="/terms">
                            <%= __('terms') %>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="ms-md-auto navbar-text actions">
                <% if (locals.user) { %>
                    <a href="/profile">
                        <% if (locals.user.Image) { %>
                        <img class="profile-image" src="/images/user<%= locals.user.Id %>/<%= locals.user.Image %>"
                             alt="<%= __('profileImage') %>">
                        <% } else { %>
                                <img class="profile-image" src="/images/default-profile.png"
                                     alt="<%= __('profileImage') %>">
                        <% } %>
                    </a>
                    <a class="btn btn-outline-light action-button primary-border-button" role="button" href="/logout">
                        <i class="fas fa-sign-out-alt"></i> <%= __('signOut') %>
                    </a>
                <% } else { %>
                    <a class="btn btn-outline-light action-button primary-border-button" role="button"
                       href="/login/apple">
                        <i class="fab fa-apple"></i> <%= __('signInApple') %>
                    </a>
                    <a class="btn btn-outline-light action-button primary-border-button" role="button"
                       href="/login/google">
                        <i class="fab fa-google"></i> <%= __('signInGoogle') %>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</nav>