<!DOCTYPE html>
<html lang="<%= __('lang') %>">

<head>
    <meta charset="UTF-8">
    <title>Collectio - <%= __('cookies') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/styles') %>
    <%- include('../partials/icons') %>
</head>

<body>
<!-- Begin Header -->
<%- include('../partials/header'); %>
<!-- End Header -->

<!-- Begin Content -->
<div class="section">
    <div class="h2 text-center">
        <u><%= __('cookies') %></u>
    </div>
    <div class="container text-justify">

    </div>
</div>
<!-- End Content -->

<!-- Begin Footer -->
<%- include('../partials/footer'); %>
<!-- End Footer -->

<!-- Begin Scripts -->
<%- include('../partials/scripts') %>
<!-- End Scripts -->
</body>

</html>