<!DOCTYPE html>
<html lang="<%= __('lang') %>">

<head>
    <meta charset="UTF-8">
    <title>Collectio - <%= __('error') %> <%= errorCode %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/styles') %>
</head>

<body>
<!-- Begin Header -->
<%- include('../partials/header'); %>
<!-- End Header -->

<!-- Begin Content -->
<div class="section">
    <div class="container">
        <h1 class="text-center"><%= __('error') %> <%= errorCode %></h1>
        <% if (errorCode === 404) { %>
            <p><%= __('error404') %></p>
        <% } else if (errorCode === 403) { %>
            <p><%= __('error403') %></p>
        <% } else if (errorCode === 500) { %>
            <p><%= __('error500') %></p>
            <div class="error">
                <p><%= __('error500File') %><%= file %></p>
            </div>
        <% } %>
    </div>
</div>
<!-- End Content -->

<!-- Begin Footer -->
<%- include('../partials/footer'); %>
<!-- End Footer -->

<!-- Begin Scripts -->
<%- include('../partials/scripts') %>
<!-- End Scripts -->
</body>

</html>