<!DOCTYPE html>
<html lang="<%= __('lang') %>">

<head>
    <meta charset="UTF-8">
    <title>Collectio - <%= __('terms') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%- include('../partials/styles') %>
    <%- include('../partials/icons') %>
</head>

<body class="d-flex flex-column min-vh-100">
<!-- Begin Header -->
<%- include('../partials/header'); %>
<!-- End Header -->

<!-- Begin Content -->
<div class="container">
    <div class="section text-justify">
        <h1 class="text-center"><%= __('terms') %></h1>
        <p class="text-center">Los términos y condiciones de uso son accesibles desde
            <a href="<%= locals.domain %>/privacy-policy"><%= locals.domain %>/privacy-policy</a>.
        </p>
        <!--<ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#web" class="nav-link active" data-bs-toggle="tab"><%= __('web') %></a>
            </li>
            <li class="nav-item">
                <a href="#mobile" class="nav-link" data-bs-toggle="tab"><%= __('mobile') %></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="web">
                <div class="text-body">
                    <br>
                    <p class="h2"><strong>Titulo</strong></p>
                    <p class="h4"><strong>Subtitulo</strong></p>
                    <p>Contenido</p>
                </div>
            </div>
            <div class="tab-pane fade" id="mobile">
                <div class="text-body">
                    <br>
                    <p class="h2"><strong>Titulo</strong></p>
                    <p class="h4"><strong>Subtitulo</strong></p>
                    <p>Contenido</p>
                </div>
            </div>
        </div>-->
    </div>
</div>
<!-- End Content -->

<!-- Begin Footer -->
<%- include('../partials/footer'); %>
<!-- End Footer -->

<!-- Begin Scripts -->
<%- include('../partials/scripts') %>
<!-- End Scripts -->
</body>

</html>